<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel = "stylesheet" href="../static/css/estilos.css" th:href="@{/css/estilos.css}" />
    <title>Página principal</title>
</head>
<body class="bg-light d-flex flex-column">

    <footer class="bg-body-tertiary text-center">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
          <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://img.freepik.com/foto-gratis/tren-vapor-traquetea-traves-escena-bosque-montana-ia-generativa_188544-8072.jpg" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://branded.eldiario.es/evolucion-trenes-vapor-alta-velocidad/images/portada.jpg" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://www.metroligero-oeste.es/uploads/files/733.fanaticos-de-los-trenes-conociais-estas-curiosidades.jpeg" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://turismomadrid.es/images/Contenido/organizate/trenes-historicos-art-2018.jpg" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://www.blogdelfotografo.com/wp-content/uploads/2023/07/trenes_bosuqe.webp" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div data-mdb-ripple-init
                class="bg-image hover-overlay shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img src="https://media.traveler.es/photos/6432e9c62e12234ad37a1ec6/16:9/w_2560%2Cc_limit/K26RNH.jpg" class="w-100" />
                <a href="#!">
                  <div class="mask"></div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Images -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3">
        © 2020 Copyright:
        <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
</body>
</html>