body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    margin: 10%;
}

.menu {
    background: linear-gradient(to right, #ffffff, #7bd6fd, #61a3ed, #2e88d6);
    font-size: 120%;
}

.menu li {
    margin-left: 10%;
}
      
th, td {
    padding: 0.2em;
    min-width: 5em;
}
    
span.offer {
    font-weight: bold;
}

.panel{
    background: linear-gradient(to right, #ffffff, #7bd6fd, #61a3ed, #2e88d6);
    font-family: 'Raleway', sans-serif;
}

.panel .panel-body .table tbody tr:nth-child(odd) td{ background: #f5f5f5; }
.panel .panel-body .table tbody .action-list{
    list-style: none;
}

.login{
    background: linear-gradient(to right, #ffffff, #7bd6fd, #61a3ed, #0088fe);
}